{% extends 'main.html' %}
{% load static %}

{% block title %}REALIZAR PEDIDO{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Realizar Pedido - Restaurante Delicias</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <style>
        body {
            background-color: #d3d3d3;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <div class="container">
            <h1 class="text-center">Restaurante El Caleuche</h1>
            <!-- Barra de navegación -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'index' %}">Inicio</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'categorias' %}">Categorías</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'contacto' %}">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <div class="container">
        <h1 class="text-center">Realizar Pedido</h1>
    </div>
    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <p class="lead text-center mb-4">Por favor, complete el siguiente formulario para realizar su pedido:</p>
                    <form action="/" method="POST" id="formulario-contacto">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombres" placeholder="Ingrese su nombre">
                        </div>
                        <div class="mb-3">
                            <label for="direccion" class="form-label">Dirección de entrega</label>
                            <input type="text" class="form-control" id="direccion" placeholder="Ingrese su dirección">
                        </div>
                        <div class="mb-3">
                            <label for="correo" class="form-label">Correo electrónico</label>
                            <input type="tel" class="form-control" id="correo-electronico" placeholder="Ingrese su Correo">
                        </div>
                        <div class="mb-3">
                            <label for="telefono" class="form-label">Teléfono de contacto</label>
                            <input type="tel" class="form-control" id="numero-telefono" placeholder="Ingrese su teléfono">
                        </div>
                        <div class="mb-3">
                            <label for="detalles-envio">Detalles del Envío</label>
                            <input type="text" class="form-control" id="detalles-envio" name="detalles-envio" placeholder="Ingrese detalles de la dirección.">
                        </div>
                        <div id="distritos-container" class="mb-3"></div>
                        <div class="my-3">
                            <label for="distritos" class="form-label">Distrito</label>
                            <select id="distritos" class="form-select" required>
                                <option value="">Seleccione un distrito</option>
                            </select>
                        </div>
                        <button class="btn btn-primary my-3" type="button" onclick="enviarPedido()">ENVIAR PEDIDO</button>
                        <div id="message-error" class="my-3 alert alert-danger alert-dismissible fade" role="alert">
                            <div id="message">&nbsp;</div>
                            </button>
                        </div>            
                    </form>
                </div>
            <div class="row mt-5">
                <div class="col-md-6 mx-auto">
                    <h3 class="text-center">Instrucciones para realizar el pedido:</h3>
                    <p class="lead text-center mt-3">Por favor, complete el formulario con su nombre, dirección, correo, teléfono y El detalle de la dirección. Una vez enviado el formulario, nuestro equipo procesará su pedido y se comunicará con usted para confirmarlo.</p>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer bg-dark text-light py-4">
        <div class="container text-center">
            <p>&copy; Restaurante El Caleuche, España - 2024</p>
        </div>
        <script src="{% static 'assets/js/formulario.js' %}"></script>
        <script src="{% static 'assets/js/integracion-owo.js' %}"></script>
    </footer>
    <script>
        window.onload = function () {
            listarDistritos();
        }
    </script>
</body>
</html>
{% endblock %}
